<!DOCTYPE html>
<html lang="en">

<head><%-include('templates/header.ejs')%></head>

<nav class="navbar navbar-expand-lg " >
    <div class="container-fluid" >
      <a class="nav-link" href="/dishs">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" href="/insert">Insertar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buscar">Buscar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>
                    <%=title%>
                </h1>
            </div>
            <div class="card-body">
                <form action="/add" method="post" id="myForm"></form>
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" class="form-control" id="id" aria-describedby="emailHelp">
                        <div class="form-text">Ingrese el ID</div>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
                        <div class="form-text">Ingrese Nombre de la Tarea</div>
                    </div>
                    <div class="mb-3">
                        <label for="calorias" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="calorias" aria-describedby="emailHelp">
                        <div class="form-text">Ingrese Descripcion</div>
                    </div>
                    <div class="mb-3">
                        <label for="vegetariano" class="form-label">Finalizada</label>
                        <select class="form-select form-select-sm" id="vegetariano" aria-label="Small select example">
                            <option selected>Seleccione</option>
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="valor" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="valor" aria-describedby="emailHelp">
                        <div class="form-text">Ingrese la Fecha de Entrega</div>
                    </div>
                    <button class="btn btn-primary" type="submit"  id="btn_send">Guardar</button>
                    
                </form>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="/js/script.js"></script>
</body>

</html>